#lien:hover{
    color: rgb(36, 178, 36);
}
.card{
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover{
    transform: scale(1.05); /* Agrandir légèrement la carte */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ajouter une ombre */
}
.overlay {
    position: absolute;
    top: 38%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste le point d'origine */
    /*background-color: rgba(0, 0, 0, 0.5);  Fond semi-transparent */
    padding: 10px;
    border-radius: 5px;
}
.h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#liens {
    display: flex; /* Utiliser flexbox pour aligner les éléments en ligne */
    list-style-type: none; /* Supprimer les puces */
    padding: 0; /* Supprimer le padding par défaut */
    margin: 0; /* Supprimer la marge par défaut */
}
@media  screen and (max-width:576px) {
     .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    } 
    #navbar-content{
background-color: white;
    }
   #im1,#im2,#im3,#im4,#im5,#im6{
    height: 50px;
    width: 50px;
    margin-right: 70px;
    text-align: center;
   }
   #im4,#im5,#im6{
    margin-top: 70px;
    text-align: center;
   }
   #im7,#im8,#im9{
    margin-top: 20px;
    text-align: center;
    margin-right: 30px;
   }
   #liens{
    display: inline-block;
   }
}