#liens {
    display: flex; /* Aligner les éléments horizontalement */
    justify-content: center; /* Centrer les éléments horizontalement */
    list-style: none; /* Enlever les puces */
    padding: 0; /* Enlever les marges par défaut */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
}

/* Assurez-vous que les éléments prennent la largeur nécessaire */
#liens .nav-item {
    margin-right: 20px; /* Espacer les éléments */
}

/* Retirer la marge droite sur le dernier élément */
#liens .nav-item:last-child {
    margin-right: 0;
}

/* Appliquer un style de lien avec un peu de padding */
#liens .nav-link {
    padding: 10px 15px; /* Ajouter de l'espace autour du texte */
    text-decoration: none; /* Enlever le soulignement */
    color: #f0eeee; /* Couleur de texte */
    font-weight: bold; /* Optionnel: mettre le texte en gras */
}

/* Ajouter des styles de survol pour les liens */
#liens .nav-link:hover {
    color: #086b1c; /* Couleur de survol */
}

/* Optionnel: Modifier les classes Bootstrap pour ne pas interférer */
.navbar-nav {
    flex-wrap: nowrap; /* S'assurer que le navbar ne se plie pas en plusieurs lignes */
}

.nav-item {
    display: inline-flex; /* Forcer les items à être en ligne */
    align-items: center; /* Assurer que le texte est bien aligné au centre */
}
@media  screen and (max-width:768px) {
    #liens{
        display: inline-block;
       } 
}